doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      //h1= title
      div(id=box)
      h2= title
      //div(id=search-bar)
      h3
        div(id=search-bar)
        input(type='text', placeholder='Search..')
        |
      h4
        div(id=nav-bar)
          a(href="/") FEED
          |
          a(href="/submit") ASK A QUESTION
          |
          a(href="/profile") PROFILE
          |
          |
          br
          //br
      //div(class=cat-bar)
      h5
        div(id=cat-bar)
          a(href="/") MATH
          |
          a(href="/") SCIENCE
          |
          a(href="/") HISTORY
          |
          a(href="/") COMPUTER SCIENCE
          |
          a(href="/") MUSIC
          |
          a(href="/") OTHER
          |
          |
          h6
          div(id=footer)
          a(href="/about") ABOUT US
          |
          |
          //footer.footer
          //.container
          //a(href="/about us") ABOUT US
          //|
          //|


        block content
