doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      h1= title
      div(id=search-bar)
        input(type='text', placeholder='Search..')
        |
      div(id=nav-bar)
        a(href="/") FEED
        |
        a(href="/submit") ASK IT!
        |
        a(href="/profile") PROFILE
        |
        |
        br
        br
      //div(class=cat-bar)
      div(id=cat-bar)
        a(href="/") MATH
        |
        a(href="/") SCIENCE
        |
        a(href="/") HISTORY
        |
        a(href="/") COMPUTER SCIENCE
        |
        a(href="/") MUSIC
        |
        a(href="/") OTHER
        |
        |


    block content
