doctype html
html
  head
    title AskIT
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Anton|Roboto&display=swap" rel="stylesheet")
  body
    h6
    block header
      //h1= title
      //h2 AskIT
      img(src="/images/Logo.png" style="height: 20vh; width: auto;")
      //div(id=search-bar)
      h3
        div(id=search-bar)
          input(type='text', placeholder='Search..')
          a(class='button' href='') search
        |
      h4
        div(id=nav-bar)
          a(href="/") FEED
          |
          a(href="/submit") ASK A QUESTION
          |
          // a(href="/profile") PROFILE
          // |
          a(href="/about") ABOUT US
          |
          |
          br
          //br
      div(class=cat-bar)
       h5
         div(id=cat-bar)
           a(href="/") MATH
           |
           a(href="/") SCIENCE
           |
           a(href="/") HISTORY
           |
           a(href="/") COMPUTER SCIENCE
           |
           a(href="/") MUSIC
           |
           a(href="/") OTHER
           |
           |

      block content
        body
        block closer
          h1
          h6
          div(id=footer)
          a(href="/about us") ABOUT US
          |
          |
