extends layout

block content 
  // Title
  h1= question.title
  h4 Asked by #{question.author}
  p= question.content
  h2 Answers
  each answer in question.answers
    div
      h3= answer.title
      p= answer.content
      b By #{answer.author}

  form(method='POST' action='/q/answer/' + question.id)
    div.form-group
      label(for='answer') Submit your answer: 
      input#answer(type='textarea', placeholder="Submit an Answer" name='answer')
    button.btn.btn-primary(type='submit') AnswerIt!

  // form(method='VOTE' action='/vote')
  //   h5 The button
  //     link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  //     style.
  //       .fa {
  //       font-size: 50px;
  //       cursor: pointer;
  //       user-select: none;
  //       }
  //       .fa:hover {
  //       color: darkblue;
  //       }
  //   body
  //     p Click on the icon to toggle between thumbs-up and thumbs-down (like/dislike):
  //     i.fa.fa-thumbs-up(onclick='myFunction(this)')
  //     script.
  //       function myFunction(x) {
  //       x.classList.toggle("fa-thumbs-down");
  //       }
  
